<footer class="site-footer">

  <div class="wrapper">

    <div class="social-media-links">
      <ul>
        {% if site.linkedin_username %}
        <li>
          <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="Linkedin | Michael Liu" target="_blank">
            <span class="icon  icon--linkedin">
              {% include social-icons/linkedin.html %}
            </span>
          </a>
        </li>
        {% endif %}

        {% if site.github_username %}
        <li>
          <a href="https://github.com/{{ site.github_username }}" title="Github | Michael Liu" target="_blank">
            <span class="icon  icon--github">
              {% include social-icons/github.html %}
            </span>
          </a>
        </li>
        {% endif %}

        {% if site.facebook_username %}
        <li>
          <a href="https://www.facebook.com/{{ site.facebook_username }}" title="Facebook | Michael Liu" target="_blank">
            <span class="icon  icon--facebook">
              {% include social-icons/facebook.html %}
            </span>
          </a>
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li>
          <a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter | Michael Liu" target="_blank">
            <span class="icon  icon--twitter">
              {% include social-icons/twitter.html %}
            </span>
          </a>
        </li>
        {% endif %}

        {% if site.tumblr_username %}
        <li>
          <a href="http://{{ site.tumblr_username }}.tumblr.com" title="Tumblr | Michael Liu" target="_blank">
            <span class="icon  icon--tumblr">
              {% include social-icons/tumblr.html %}
            </span>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>

    <div class="contact">
      <a href="mailto:{{ site.email }}">{{ site.email }}</a>
    </div>
    <a href="/">
      <svg id="logo" viewBox = "0 0 282 422" preserveAspectRatio="xMidYMid meet">
          <!-- <path id="hourglass" d="M1,1 L281,1 L161,208.846 L281,416.692 L1,416.692 L121,208.846 L1,1 Z"/> -->
          <path id="M" d="M101,174.205 L1,1 L121,1 L141,35.641 L161,1 L281,1 L181,174.205 L161,139.564 L221,35.641 L181,35.641 L141,104.923 L101,35.641 L61,35.641 L121,139.564 L101,174.205 Z"/>
          <path id="L" d="M141,174.205 L1,416.692 L281,416.692 L261,382.051 L61,382.051 L161,208.846 L141,174.205 Z"/>
          <path id="triangle" d="M181,243.487 L121,347.410 L241,347.410 L181,243.487 Z"/>
      </svg>
    </a>

</footer>
