<footer class="site-footer">

  <div class="wrapper">

    <div class="social-media-links">
      <ul>
        {% if site.linkedin_username %}
        <li>
          <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="Linkedin | Michael Liu" target="_blank">
            <span class="icon  icon--linkedin">
              {% include social-icons/linkedin.html %}
            </span>
          </a>
        </li>
        {% endif %}

        {% if site.github_username %}
        <li>
          <a href="https://github.com/{{ site.github_username }}" title="Github | Michael Liu" target="_blank">
            <span class="icon  icon--github">
              {% include social-icons/github.html %}
            </span>
          </a>
        </li>
        {% endif %}

        {% if site.facebook_username %}
        <li>
          <a href="https://www.facebook.com/{{ site.facebook_username }}" title="Facebook | Michael Liu" target="_blank">
            <span class="icon  icon--facebook">
              {% include social-icons/facebook.html %}
            </span>
          </a>
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li>
          <a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter | Michael Liu" target="_blank">
            <span class="icon  icon--twitter">
              {% include social-icons/twitter.html %}
            </span>
          </a>
        </li>
        {% endif %}

        {% if site.tumblr_username %}
        <li>
          <a href="http://{{ site.tumblr_username }}.tumblr.com" title="Tumblr | Michael Liu" target="_blank">
            <span class="icon  icon--tumblr">
              {% include social-icons/tumblr.html %}
            </span>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>

    <div class="contact">
      <a href="mailto:{{ site.email }}">{{ site.email }}</a>
    </div>

</footer>
