.landing_page {
    text-align: center;
}

/**
 * Site header
 */
.site-header.landing_page  {
    padding: $spacing-unit/2 0;
    @include media-query($on-palm) {
        padding-bottom: $spacing-unit/2;
    }
    .site-title {
        display: block;
        line-height: 72px;
        float: initial;
        font-size: 6em;
        transition: font-size 1s;
        &:hover, &:focus, &:visited, &:active {
            text-decoration: none;
            color: $text-color;
        }
        @media (max-width: 768px) {
            font-size: 5em;
        }
        @media (max-width: 400px) {
            font-size: 3.75em;
        }
    }
    .site-nav {
        float: initial;
        @include media-query($on-palm) {
            background-color: transparent;
            position: relative;
            right: 0;
            text-align: center;
            
            .menu-icon {
                display: none;
            }
            .trigger {
                display: block;
            }
        }
    }
}

/**
 * Site footer
 */
.site-footer.landing_page {
    padding: $spacing-unit/2 0;
    border: none;
}

/**
 * Page content
 */
.page-content {
    padding: 0;
}