@use '../styles/variables' as *;

.excludedForPrivacy {
	position: absolute;
	display: none !important; // To override any other displays

	@media print {
		position: unset;
		display: unset !important;
	}
}

.resume {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"header"
		"main"
		"footer";

	background-color: white;
	color: $text-color;
	padding: 2.5% 3.5%;

	@include media-query($size-lg) {
		box-shadow: $grey-color 2px 2px 5px;
		max-width: 900px;
		margin: 2.5% auto;
	}

	header {
		grid-area: header;

		text-align: center;
		h1 {
			font-size: 2em;
		}

		h2.newPosition {
			display: none;
		}
	}

	main {
		grid-area: main;

		display: grid;
		grid-template-areas:
			"summary"
			"skills"
			"experiences"
			"education"
			"certifications";
		
		h2 {
			font-variant: small-caps;
			text-decoration: underline;
			text-align: center;
			margin-bottom: 0.25em;
		}

		ul.commaList {
			display: inline;
			margin: 0;
			padding: 0;
			list-style: none;
			> li {
				display: inline;
				&::before {
					content: " ";
				}
				&:first-child::before {
					content: "";
				}
				&::after {
					content: ",";
				}
				&:last-child::after {
					content: "";
				}
			}
		}

		dl {
			dt {
				font-weight: 500;
			}
			dd {
				margin-inline-start: 1em;
			}
		}

		@include media-query($size-sm) {
			grid-template-columns: 1fr auto;
			grid-template-areas:
				"summary summary"
				"skills skills"
				"experiences experiences"
				"certifications education";
		}

		.summary {
			grid-area: summary;
			text-align: center;
		}
		.skills {
			grid-area: skills;

			h3.skillTypes {
				display: inline-block;
				margin-bottom: 0;
				margin-right: 0.25em;
				font-size: 1em;
			}
		}
		.experiences {
			grid-area: experiences;

			article.experience {
				position: relative;

				.positions {
					margin: 0;
					margin-left: 0.5em;
					margin-bottom: 0.25em;
					padding: 0;
					list-style: none;
					> li {
						margin-left: 0.5em;
						display: grid;
						grid-template-areas:
							"title"
							"timePeriod"
							"positionSummary"
							"activities"
						;
						&:not(:last-of-type) {
							margin-bottom: 0.5em;
						}

						h3.title {
							grid-area: title;
							display: inline-block;
							margin: 0;
							font-weight: bold;

							.organization,
							.location {
								margin: 0;
								margin-left: 0.25em;
								display: inline-block;
								font-size: 1em;
								font-weight: normal;
							}

							.location {
								display: none;
							}
						}
						.timePeriod {
							grid-area: timePeriod;
							text-align: right;
						}
						.positionSummary {
							grid-area: positionSummary;
							margin-bottom: 0;
						}
						.activities {
							grid-area: activities;
							p {
								margin: 0;
							}
							ul.commaList {
								margin-left: 0.25em;
								&::before {
									font-style: italic;
									content: 'Add\'l Details: ';
								}
							}
						}
					}
				}

				@include media-query($size-sm) {
					ul.positions {
						li {
							margin: 0;
							grid-template-areas:
								"title timePeriod"
								"positionSummary positionSummary"
								"activities activities"
							;
							grid-template-columns: 2fr 1fr;
						}
					}
				}
			}
		}
		.education {
			grid-area: education;
		}
		.certifications {
			grid-area: certifications;
		}
	}

	footer {
		grid-area: footer;

		address {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 0.5em;

			span {
				display: none;
			}

			@include media-query($size-sm) {
				flex-direction: row;

				span {
					display: inline;
					font-style: normal;
				}
			}
		}
	}
}

@media print {
	.resume {
		font-size: 12px;
		width: 100%;
		grid-template-rows: auto auto 1fr;
		grid-template-areas:
			"header"
			"footer"
			"main";

		padding: 0;
		box-shadow: none;

		h1, h2, h3, h4, h5 {
			page-break-after: avoid;
			margin: 0;
		}

		p {
			margin: 0;
		}

		section, table, figure {
			page-break-inside: avoid;
		}

		header {
			margin-bottom: 0.5em;
		}

		main {
			.location {
				display: none;
			}
		}

		footer {
			margin-bottom: 0.5em;
		}
	}
}

// Print Page

@page {
	size: 8.5in 11in;
	margin: 0.5in 1in;

	background: white;
}
